ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #111;
  }
  *
  {
      margin:0px;
      padding:0px;
  }
  .container
  {
   
  width:100%;}
  .wrapper
  {
      width:95%;
      margin-right:10%;
      text-align: center;
      
  }
  .dark{
      background-color:#333;
      color:white;
  }
  .light{
      background-color:#e9edf2;
  }
  #top-left{
      display:inline-block;
      
      /*border:1px solid red;*/
  
  }
  
  li .right{
      float:right; 
  }
  #top-div{
      height:40px;
      line-height:40px;
      text-align: center;
  }
  #logo-left{
      /*border:1px solid red;*/
      display:inline-block;
  }
  #logo-right{
      float:right;
      /*border:1px solid green;*/
      margin-top:50px;
      
  }
  #textstyle{
      height:30px;
      border-radius:8px;
  }
  #button{
      background-color:green;
      color:white;
      padding:7px;
      border-radius:8px;
      width:70px;
      border:1px solid green;
  }
  #clear{
      clear:both;
      
  }
  
  #slider-image img{
      width:868px;
      border:1px solid grey;
      padding:15px;
      background-color:#eee;
      box-shadow:5px 5px 10px grey;
      margin-top:10px;
      margin-bottom:15px;
      
  }
  H3{
      text-align:center;
      /*text-transform:uppercase;*/
  }
  p{text-align:justify;
      
  }
  #text-image{
       width:88px;
       /*border:1px solid red;*/
       margin:auto;
  cursor:pointer;
  }
  #div-text{
      
      width:260px;
      margin:3px;
      display:inline-block;
      margin-top:15px;
      box-shadow:5px 5px 10px grey;
      padding:15px;
      margin-bottom:15px;
  }
  #bottom-div-left{
      
      display:inline-block;
      width:36%;
      margin-top:15px;
      padding:1%;
      
       
  }
  #bottom-div-left img{
      border:1px solid grey;
      padding:5px;
      margin:5px;
      border-radius:8px;
  }
  #bottom-div-right{width:290px;
  float:right;}
  #bottom-div-left-text{
      text-align:left; 
  }
  #latest-news img{
      height:100px;
      width:90px;
      margin:3px;
      padding:3px;
      border:1px solid grey;
      border-radius:5px;
  }
  #latest-news{
      
      height:180px;
  }
  #footer-section{
               width:260px;
      margin:3px;
      display:inline-block;
      /* margin-top:15px; */
      /*box-shadow:5px 5px 10px grey;*/
      padding:15px;
      margin-bottom:15px;
  }
  @media(max-width:780px){
      .container,.wrapper,.dark,.light,#top-left,#top-right
      
  
  {
  float:none; 
          text-align:center;
  width:100%;
  }}
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.signup {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0 30% 0 30%;
}
* {
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* .container {
    padding: 0 16px;
  } */
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .button a {
    color: white;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #555;
  }
  .btn-container{
    margin: auto;
    height:44px;
    width:166.23px;
    
  }
  table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
table {
	width: 400px;
	height: 300px;
}
a .btn btn-primary {
  color: white;
}